<div class="container-fluid p-3">
    <mat-icon class="float-end hover" (click)="closeModal()">close</mat-icon>

    <h4 class="titulo">Detalhes do usuário</h4>
    <h6 class="subtitulo">Visão detalhada deste usuário</h6>

    <div class="row mt-3">
        <div class="col-lg-6">
            <h4 class="titulo-informacao">Nome</h4>
            <p class="informacao">{{ userData.name }}</p>
        </div>
        <div class="col-lg-6">
            <h4 class="titulo-informacao">E-mail</h4>
            <p class="informacao">{{ userData.email }}</p>
        </div>
        <div class="col-lg-6">
            <h4 class="titulo-informacao">Setor</h4>
            <p class="informacao">{{ userData.sector }}</p>
        </div>
        <div class="col-lg-6">
            <h4 class="titulo-informacao">Função</h4>
            <p class="informacao">{{ userData.role }}</p>
        </div>
    </div>
</div>